.Ball {
  background-color: tomato;
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 3rem;
  height: 2.25rem;
  padding-top: 0.6rem;
  padding-bottom: .1rem;
  padding-right: .1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}